<div class="login-nav-bar">
  <img src="../../../assets/login-nav-bar.svg" alt="Avatar" class="user-login" />
  <label for="login"> | Login</label>
</div>

<div>
  <img src="../../../assets/accordion.png" alt="Avatar" />
  <!--class="avatar"-->
</div>



<form id="login-panel" class="center-align">
  <div>
    <input
      type="text"
      placeholder="Enter mobile number.."
      onclick="this.placeholder=''"
      onblur="this.placeholder='Enter mobile number..'"
      name="mobnum"
      required
    />

    <input
      type="text"
      placeholder="Enter otp.."
      onclick="this.placeholder=''"
      onblur="this.placeholder='Enter otp..'"
      name="otp"
      required
    />

    <button type="submit">Let's go..</button>
  </div>
</form>
