<div [ngStyle]="{'background-color' : color}">
    <img
    src="../../../assets/hamburger.svg"
    class="hamburger-img" 
    (click)="openHamburgerNav()" 
    />
</div>

<div id="hbSidenavBG" class="cartPanelBackground">
    <div id="hbSidenav" class="hb-sidenav">
      <span class="title">Categories</span>
      <a href="javascript:void(0)" class="hb-closebtn" (click)="closeHamburgerNav()"
        >&times;</a
      >
      <div class="categoryDiv">
        <a href="#" *ngFor="let category of categories" class="category" (click)="categoryTapped()">{{category.name}}</a>
      </div>
    </div>
  </div>
  