<div class="bottom-bar">

  <div class="title">
    The Grocery Point is a quick brown fox which can jumps over a lazy little
    dog. The Grocery Point is a quick brown fox which can jumps over a lazy
    little dog. The Grocery Point is a quick brown fox which can jumps over a
    lazy little dog. The Grocery Point is a quick brown fox which can jumps over
    a lazy little dog.
  </div>

  <div class="user-service-panel">
    <div class="bestprice">
      <img src="../../assets/footer-best-price.png" />
      <div class="text">
        <span class="header">Best Prices &amp; Offers</span>
        <span class="details">
          Cheaper prices than your local supermarket, great cashback offers to
          top it off.
        </span>
      </div>
    </div>
    <div class="bestprice">
        <img src="../../assets/footer-genuine-products.png" />
        <div class="text">
          <span class="header">Wide Range of Products</span>
          <span class="details">
            Choose from 5000+ products across food, personal care, household & other categories.
          </span>
        </div>
      </div>    <div class="bestprice">
        <img src="../../assets/footer-easy-returns.png" />
        <div class="text">
          <span class="header">Easy Returns</span>
          <span class="details">
            Not satisfied with a product? Return it at the doorstep & get a refund within hours.
          </span>
        </div>
      </div>
  </div>

  <div class="categories-section">
      <span class="header useful-cat">Categories</span>
      <div class="categories">
        <a href="#" *ngFor="let category of categories">{{category.name}}</a>
      </div>
  </div>

  <div class="finduson">
    <span class="header useful-cat">Find Us On</span>
    <div class="links">
        <a href="https://www.facebook.com/sagarsaxena321" target="_blank">
            <img src="../../assets/fb-footer.png" class="hover"> 
        </a>
        <a href="https://www.facebook.com/sagarsaxena321" target="_blank">
            <img src="../../assets/twiter-footer.png" class="hover"> 
        </a>
    </div>
    <span class="copyright">© The Grocery Point India Pvt. Ltd., 2020-2025</span>
</div>

</div>
