<div class="cart-nav-bar" id="cartPanel">
  <img
    src="../../../assets/cart.svg"
    alt="Cart"
    class="user-cart"
    (click)="openNav()"
  />
  <label for="login" (click)="showCartSideBar()">My Cart</label>
</div>

<div id="sidebar" class="side-bar-background">
  <div id="cartmodal" class="side-bar-content">
    <img
      src="../../../assets/close.svg"
      class="close"
      (click)="closeCartSideBar()"
    />
    <img src="../../../assets/checkout.png" class="checkout" />
  </div>
</div>

<div id="middleAccordion" class="middleAccordion">
  <img src="../../../assets/MobileAppBG.png" class="middleAccordion" />
</div>

<div class="cart-sliding-panel">
  <div id="cartSidenav" class="cart-sidenav">
    <a href="javascript:void(0)" class="cart-closebtn" (click)="closeNav()"
      >&times;</a
    >
    <a href="#">Top selling items</a>
    <a href="#">Oils</a>
    <a href="#">Cold Drinks</a>
    <a href="#">Baby Products</a>
    <a href="#">Beverages</a>
    <a href="#">Bread & Bakery</a>
    <a href="#">Breakfast & Cereal</a>
    <a href="#">Canned Goods & Soups</a>
    <a href="#">Condiments/Spices & Bake</a>
    <a href="#">Cookies, Snacks & Candy</a>
  </div>
</div>
