/*slider*/
.cart-sidenav {
  height: 87%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: whitesmoke; 
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.cart-sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.cart-sidenav a:hover {
  color: #f1f1f1;
}

.cart-sidenav .cart-closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/***************************************MOBILE CSS************************************/
@media screen and (max-width: 1024px) {
  .cart-nav-bar {
    position: absolute;
    display: grid;
    left: 80%;
    width: 20%;
    border-radius: 5px;
    height: 35px;
    margin-top: 1px;
  }

  img.close {
      height: 4%;
      margin: 5px;
      position: absolute;
      margin-left: 87%;
      z-index: 2;
  }
  
  img.checkout{
    height: 99%;
    width: 99%;
  }
  
  .user-cart {
    height: 30px;
    width: 30px;
    margin-left: 25px;
    margin-top: 3px;
  }

  label {
    display: none;
  }
}



/***************************************WEB CSS************************************/
@media screen and (min-width: 1024px) {

  .cart-nav-bar {
    position: absolute;
    margin-top: 17px;
    display: flex;
    left: 88%;
  }

  img.close {
    height: 6%;
    margin: 5px;
    position: absolute;
    margin-left: 28%;
    z-index: 2;
  }
  .user-cart {
    height: 21px;
    width: 30px;
    cursor: pointer;
  }

  label {
    cursor: pointer;
  }
}
