/******************************WEB********************************/
@media screen and (min-width: 1024px) {
  .bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(
      -60deg,
      rgb(238, 238, 238) 50%,
      rgb(253, 253, 253) 50%
    );
    bottom: 0;
    left: -50%;
    opacity: 0.7;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
  }

  .bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 3s;
  }

  .bg3 {
    animation-duration: 5s;
  }

  @keyframes slide {
    0% {
      transform: translateX(-25%);
    }
    100% {
      transform: translateX(25%);
    }
  }

  .logo {
    display: flex;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 5px;
  }

  .header {
    background-color: #f4511e;
    height: 52px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    display: inline-flex;
    box-shadow: 0 2px 2px 0 rgba(0, 0.33, 0, 0.33);
  }
}
