/*********************************WEB*******************************/
@media screen and (min-width: 1024px) {
  * {
    display: none;
  }
}
/*********************************MOBILE*******************************/
@media screen and (max-width: 1024px) {
  .nav-bar-hamburger {
    position: absolute;
    display: grid;
    width: 20%;
    border-radius: 5px;
    height: 35px;
    margin-top: 1px;
  }

  .hamburger-img {
    background-repeat: no-repeat;
    height: 60px;
    width: 36px;
    margin-left: 21px;
    margin-top: -12px;
  }

  .hb-sidenav {
    height: 87%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .hb-sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .hb-sidenav a:hover {
    color: #f1f1f1;
  }

  .hb-sidenav .hb-closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}
