/*********************************WEB*******************************/
@media screen and (min-width: 1024px) {
  * {
    display: none;
  }
}
/*********************************MOBILE*******************************/
@media screen and (max-width: 1024px) {
  .cartPanelBackground {
    background-color: rgba(0,0,0,.7);
    bottom: 0;
    left: 0;
    width: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: 0.5s;
  }
  
  .hamburger-img {
    height: 70px;
  }

  .hb-sidenav { 
    height: 91.3%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f4511e;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .hb-sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: gray;
    display: block;
    transition: 0.3s;
  }

  .category {
    line-height: 3em;
  }

  .title {
    position: absolute;
    margin-top: -7.5%;
    margin-left: 5%;
    font-size: 20px;
    font-family: Celias, Helvetica;
    font-weight: bold;
    color: #ffffff;
  }

  div.categoryDiv {
    background-color: white;
    height: 100%
  }

  .hb-sidenav a:hover {
    color: #f4511e;
  }

  .hb-sidenav {
    color: #f4511e;
  }

  .hb-sidenav .hb-closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}
