<div class="nav-bar-hamburger" [ngStyle]="{'background-color' : color}">
    <img
    src="../../../assets/hamburger.svg"
    class="hamburger-img" 
    (click)="openHamburgerNav()" 
    />
</div>

<div>
    <div id="hbSidenav" class="hb-sidenav">
      <a href="javascript:void(0)" class="hb-closebtn" (click)="closeHamburgerNav()"
        >&times;</a
      > 
      <a href="#">Top selling items</a>
      <a href="#">Oils</a>
      <a href="#">Cold Drinks</a>
      <a href="#">Baby Products</a>
      <a href="#">Beverages</a>
      <a href="#">Bread & Bakery</a>
      <a href="#">Breakfast & Cereal</a>
      <a href="#">Canned Goods & Soups</a>
      <a href="#">Condiments/Spices & Bake</a>
      <a href="#">Cookies, Snacks & Candy</a>
    </div>
  </div>
  