/***************************************MOBILE CSS************************************/
@media screen and (max-width: 1024px) {
  .uploadArea {
    display: none;
  }

  .orders {
    display: none;
  }
}

/*****************************************WEB CSS*************************************/
@media screen and (min-width: 1024px) {
  .uploadArea {
    display: flex;
    margin-top: 1.3%;
  }

  input {
    position: fixed;
    outline: none;
    z-index: 2;
    right: 5%;
  }

  .home {
    outline: none;
    position: fixed;
    margin-top: -0.3%;
    background-color: Transparent;
    background-size: 25px 25px;
    z-index: 2;
    right: 1%;
    height: 25px;
    width: 25px;
    border: none;
    background-image: url("../../assets/Home.svg");
  }

  .home:hover {
    cursor: pointer;
  }

  div.orders {
    display: grid;
    width: 100%;
    height: 94%;
    margin-top: 2.8%;
    grid-template-rows: 10% 90%;
  }

  div.topPanel {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
    margin-bottom: 2px;
    z-index: 1;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.33);
  }

  div.detailsPanel {
    height: inherit;
    margin-top: 10px;
    display: flex;
    background-color: whitesmoke;
  }

  div.sidePanel {
    display: grid;
    width: 25.1%;
    height: -webkit-fill-available;
    margin-right: 3px;
    overflow: scroll;
  }

  div.mainPanel {
    display: grid;
    width: 74.4%;
    grid-template-rows: 15% 82% 0%;
  }

  li {
    list-style-type: none;
  }

  .menu {
    display: flex;
    height: 3.7em;
    line-height: 3.7em;
    padding-left: 25%;
    font-weight: bold;
  }

  .menuText {
    border-bottom: 3px solid steelblue;
  }

  .menu:hover,
  .selectedMenu {
    cursor: pointer;
    color: steelblue;
    border-bottom: 3px solid steelblue;
  }

  .order {
    display: flex;
    border-bottom: 1px solid black;
    height: 4em;;
  }

  .order:hover,
  .selectedOrder {
    cursor: pointer;
    background-color: #f4511e;
    /* border-right: 2px solid steelblue; */
  }

  .right {
    position: relative;
    margin-top: 22px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 15px solid whitesmoke;
    border-bottom: 10px solid transparent;
  }

  .serial {
    margin-top: 6%;
    padding-left: 15px;
    font-weight: bold;
  }

  .orderSummary {
    padding-left: 15px;
  }

  .innerDiv {
    display: grid;
    width: 100%;
  }

  .customerInfo {
    display: flex;
    background-color: violet;
  }

  table.customerDetails {
    margin-top: .8%;
    font-size: 80%;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
  }

  .orderInfo {
    overflow-y: scroll;
  }

  .commonActionBar {
    background-color: whitesmoke;
    display: flex;
    width: 100%;
  }

  .personalDetails {
    display: grid;
    font-weight: bold;
  }

  table.orderTable {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
  }

  th.tableHeading {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }

  td.tableData {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr.tableRow:nth-child(even) {
    background-color: #dddddd;
  }

  .cancelOrder {
    margin-left: 54%;
    margin-top: .4%;
  }

  .completeOrder {
    margin-left: 1%;
    margin-top: .4%;
  }

  .totalPrice {
    font-weight: bold;
    line-height: 3em;
    vertical-align: middle;
    margin-left: 5%;
  }
}
