.form {
  margin-left: 18px;
}

.full-width {
  width: 90%;
  margin-left: 10px;
}

button
{
  margin-left: 78%;
}

/***************************************MOBILE CSS************************************/
@media screen and (max-width: 1024px) {
  .login-nav-bar {
    position: absolute;
    display: grid;
    left: 60%;
    width: 20%;
    border-radius: 5px;
    height: 35px;
    margin-top: 1px;
  }

  .user-login {
    display: grid;
  }

  .user-login-img {
    height: 35px;
    width: 40px;
    margin-top: 3px;
    margin-left: 21px;
  }

  label {
    display: none;
  }

  /* Avatar image */
  img.avatar {
    width: 60%;
    border-radius: 20%;
  }

  /*slider*/
  .user-sidenav {
    height: 87%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .user-sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .user-sidenav a:hover {
    color: #f1f1f1;
  }

  .user-sidenav .user-closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}

/***************************************WEB CSS************************************/
@media screen and (min-width: 1024px) {

  .login-nav-bar {
    width: 8%;
    position: absolute;
    left: 75%;
    margin-top: 12px;
  }

  .user-login { 
    display: flex;
    height: 21px;
    width: 30px;
    margin-top: 5px;
  }

  .user-login-img {
    height: 24px;
    width: 30px;
    cursor: pointer;
  }

  .loginPanelBackground {
    background-color: rgba(0,0,0,.7);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 50px;
  }

  .loginPanel {
    position: fixed;
    top: 10%;
    left: 35%;   
    height: 80%;
    width: 35%;
    font-family: Celias, Helvetica;
  }

  .detailsPanelHeader {
    background-color: #f4511e;
    text-align: center;
    border-bottom: 2px solid white;
    border-radius: 5px 5px 0px 0px;
  }

  .detailsPanelBottom {
    height: 70%;
    border-radius: 0px 0px 5px 5px;
  }

  .loginForm {
    height: 40%;
    background-color: mintcream;
    border-radius: 0px 0px 5px 5px;
  }

  .signUpForm {
    height: 90%;
    background-color: mintcream;
    border-radius: 0px 0px 5px 5px;
  }

  .login-closebtn {
    position: absolute;
    top: 4px;
    right: 25px;
    font-size: 36px;
    text-decoration: none;
    color: #333;
  }

  .half-width {
    margin-left: 10px;
    width: 45%;
  }

  .logout {
    position: absolute;
    margin-top: 5px;
    right: 0;
    margin-left: 5px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #333;
    cursor: pointer;
  }

  .logoutPanel {
    position: absolute;
    background-color: #333;
    opacity: .8;
    height: 90%;
    color: white;
    text-align: right;
    font: white;
    width: 100%;
    margin-top: 35px;
    right: 0;
    cursor: pointer;
  }

  span.title {
    font-size: 25px;
    color: white;
    vertical-align: middle;
    line-height: 50px;
  }
}
