.form {
  min-width: 150px;
  max-width: 500px;
  width: 90%;
  margin-left: 10px;
}

.full-width {
  width: 90%;
  margin-left: 10px;
}

button
{
  margin-left: 78%;
}

/***************************************MOBILE CSS************************************/
@media screen and (max-width: 1024px) {
  .login-nav-bar {
    position: absolute;
    display: grid;
    left: 60%;
    width: 20%;
    border-radius: 5px;
    height: 35px;
    margin-top: 1px;
  }

  .user-login {
    display: grid;
  }

  .user-login-img {
    height: 35px;
    width: 40px;
    margin-top: 3px;
    margin-left: 21px;
  }

  label {
    display: none;
  }

  /* Avatar image */
  img.avatar {
    width: 60%;
    border-radius: 20%;
  }

  /*slider*/
  .user-sidenav {
    height: 87%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .user-sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .user-sidenav a:hover {
    color: #f1f1f1;
  }

  .user-sidenav .user-closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}

/***************************************WEB CSS************************************/
@media screen and (min-width: 1024px) {
  .login-nav-bar {
    width: 8%;
    position: absolute;
    left: 75%;
    margin-top: 12px;
  }

  .user-login {
    height: 21px;
    width: 30px;
    margin-top: 5px;
  }

  .user-login-img {
    height: 24px;
    width: 30px;
    position: fixed;
    cursor: pointer;
  }

  .user-logout {
    display: none;
    height: 21px;
    width: 30px;
  }

  label {
    margin-left: 100%;
    cursor: pointer;
  }

    /*slider*/
    .user-sidenav {
      height: 87%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: whitesmoke;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
      margin-top: 4%;
      height: 75%;
      margin-left: 70%;
    }
  
    .user-sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
  
    .user-sidenav a:hover {
      color: #f1f1f1;
    }
  
    .user-sidenav .user-closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
}
