<div class="login-nav-bar" [ngStyle]="{'background-color' : loginColor}">
  <div id="loginPanel" class="user-login">
    <img
      src="../../../assets/login-nav-bar.svg"
      alt="Avatar"
      class="user-login-img"
      (click)="openUserNav()"
    />
    <label for="login" (click)="openUserNav()">Login</label>
  </div>
</div>

<div id="userSidenav" class="user-sidenav">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Login">
      <form class="form">
        <!--Mobile Number-->
        <mat-form-field class="full-width">
          <mat-label>Telephone</mat-label>
          <span matPrefix>+91 &nbsp;</span>
          <input type="tel" matInput placeholder="9711323367" required />
        </mat-form-field>

        <!--Password-->
        <mat-form-field class="full-width">
          <input
            matInput
            #passwordInput
            placeholder="Password"
            [type]="hide ? 'password' : 'text'"
            required
          />
          <mat-icon matSuffix (click)="hide = !hide">{{
            hide ? "visibility_off" : "visibility"
          }}</mat-icon>
          <mat-hint *ngIf="!passwordInput.value">Enter your password</mat-hint>
        </mat-form-field>

        <!--Login Button-->
        <button mat-raised-button color="primary">Login</button>
      </form>

    </mat-tab>
    <mat-tab label="SignUp">
      <form class="form" (ngSubmit)="onSubmitSignup()">
        <!--First Name-->
        <mat-form-field class="full-width">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Your first name" required 
            [(ngModel)]="userSignUpInfo.firstName"
            [ngModelOptions]="{standalone:true}">
        </mat-form-field>

        <!--Last Name-->
        <mat-form-field class="full-width">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Your last name" 
            [(ngModel)]="userSignUpInfo.lastName"
            [ngModelOptions]="{standalone:true}">
        </mat-form-field>

        <!--Mobile Number-->
        <mat-form-field class="full-width">
          <mat-label>Telephone</mat-label>
          <span matPrefix>+91 &nbsp;</span>
          <input type="tel" matInput placeholder="9711323367" required 
            [(ngModel)]="userSignUpInfo.mobileNumber"
            [ngModelOptions]="{standalone:true}"/>
        </mat-form-field>

        <!--Password-->
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Password"
            [type]="hide ? 'password' : 'text'"
            required
            [(ngModel)]="userSignUpInfo.password"
            [ngModelOptions]="{standalone:true}"
          />
          <mat-icon matSuffix (click)="hide = !hide">{{
            hide ? "visibility_off" : "visibility"
          }}</mat-icon>
        </mat-form-field>

        <!--Confirm Password-->
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Confirm Password"
            [type]="hide ? 'password' : 'text'"
            required
          />
          <mat-icon matSuffix (click)="hide = !hide">{{
            hide ? "visibility_off" : "visibility"
          }}</mat-icon>
          <!-- <mat-hint *ngIf="!passwordInput.value">Enter your password</mat-hint> -->
        </mat-form-field>

        <!--Email-->
        <mat-form-field class="full-width">
          <mat-label>Email (optional)</mat-label>
          <input
            matInput
            [formControl]="emailFormControl"
            placeholder="Ex. thegrocerypoint@gmail.com"
            [(ngModel)]="userSignUpInfo.email"
            [ngModelOptions]="{standalone:true}"
          />
          <mat-error *ngIf="emailFormControl.hasError('email')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>

        <!--SignUp Button-->
        <button mat-raised-button color="primary">SignUp</button>
      </form>
    </mat-tab>
  </mat-tab-group>

  <a href="javascript:void(0)" class="user-closebtn" (click)="closeUserNav()"
    >&times;</a
  >
</div>
