input.searchBox {
  border-radius: 2px 0px 0px 2px;
  border: none;
  outline: none;
  margin-top: 9px;
  position: absolute;
  z-index: 1;
}

input.searchBtn {
  border-radius: 0px 2px 2px 0px;
  position: absolute;
  background-image: url(../../../assets/lens.svg);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 50%, 50%;
  border: none;
  outline: none;
  z-index: 1;
  background-color: rgb(255, 255, 255);
}

  /**********************************Mobiles**************************************/
@media screen and (max-width: 1024px) {

.search-background  {
    width: 101%;
    height: 9%;
    margin-left: -3%;
    margin-top: -2%;
    position: fixed;
    background-color: black;
  }

  input.searchBox {
    width: 80%;
    height: 8%;
    font-size: 90%;
    margin-top: 1%;
    margin-left: 3%;
    position: fixed;
  }

  /* Set a style for all buttons */
  input.searchBtn {
    width: 11%;
    height: 8%;
    margin-left: 88%;
    margin-top: 1%;
    position: fixed;
  }
}


/**********************************WEB**************************************/
@media screen and (min-width: 1024px) {
  input.searchBox {
    width: 35%;
    height: 30px;
    margin-left: 31%;
    margin-top: -4.3%;
  }

  /* Set a style for all buttons */
  input.searchBtn {
    width: 3%;
    height: 30px;
    margin-top: -4.3%;
    margin-left: 67.5%;
    border: none;
    background-color: rgb(236, 236, 234);
  }
}
