input.searchBtn {
  background-image: url(../../../assets/lens.svg);
  background-size: 70%;
  background-position: 50%, 50%;
  background-color: rgb(255, 255, 255);
}

  /**********************************Mobiles**************************************/
@media screen and (max-width: 1024px) {

  .search-background {
    height: 60px;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: darkslateblue;
  }

  input.searchBox {
    width: 76%;
    height: -webkit-fill-available;
    border: none;
    border-radius: 2px 0px 0px 2px;
    padding: 0px 10px;
    display: flex;
    margin-left: 14px;
  }

  /* Set a style for all buttons */
  input.searchBtn {
    background-repeat: no-repeat;
    border: none;
    border-radius: 0px 2px 2px 0px;
    display: flex;
    margin-top: -60px;
    width: 12.5%;
    margin-left: 84%;
    height: -webkit-fill-available;
  }
}


/**********************************WEB**************************************/
@media screen and (min-width: 1024px) {

  .search-background {
    width: 40%;
    height: 40px;
    position: absolute;
    left: 30%;
    margin-top: 5px;
  }

  input.searchBox {
    width: 80%;
    height: -webkit-fill-available;
    border: none;
    border-radius: 2px 0px 0px 2px;
    padding: 0px 10px;
    display: flex;
  }

  /* Set a style for all buttons */
  input.searchBtn {
    background-repeat: no-repeat;
    border: none;
    border-radius: 0px 2px 2px 0px;
    display: flex;
    margin-top: -40px;
    height: 40px;
    width: 10%;
    margin-left: 83%;
  }
}
