/*********************************MOBILE*******************************/
@media screen and (max-width: 1024px) {
  .nav-bar-home {
    margin-top: 10%;
    left: 25%;
  }
}

/*********************************WEB*******************************/
@media screen and (min-width: 1024px) {
  .nav-bar-home {
    display: none;
  }
}
