.popular-items-accordion {
  display: none;
}

/***************************************WEB CSS************************************/
@media screen and (min-width: 1024px) {

  .daily-shop-img {
    height: 10%;
    width: 100%;
    cursor: pointer;
  }

  .popular-items-accordion {
    height: 12%;
    display: flex;
    margin: 2%;
    margin-top: 70px;
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0,.33,0,.33);
  }

  button {
    margin-right: 8px;
  }

  div.previous {
    height: -webkit-fill-available;
    width: 7%;
    border-right: 1px solid white;
  }

  div.next {
    width: 7%;
    height: 16%;
    border-left: 1px solid white;
  }

  /* button.previous {
    margin-top: 25%;
    left: 20%;
    font-size: 200%;
    display: none;
  }

  button.next {
    margin-top: 25%;
    left: 20%;
    font-size: 200%;
  } */

  div.items {
    height: -webkit-fill-available;
    width: 11%;
    border-right: 2px solid whitesmoke;    
  }

  div.items:hover {
    background-color: #f4511e;  
  }

  .item-name {
    /* border-top: 1px white solid; */
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 15px;
    color: #333;
  }

  .item-img {
    margin-left: 22%;
    margin-top: 3%;
    height: 60%;
  }

  .item-img:hover {
    transform: scale(1.2);
  }
}
