/***************************************WEB CSS************************************/
@media screen and (max-width: 1024px) {
  .daily-shop-img {
    margin-top: 17%;
    width: 174%;
    cursor: pointer;
  }
}
/***************************************WEB CSS************************************/
@media screen and (min-width: 1024px) {
  .daily-shop-img {
    position: relative;
    z-index: -1;
    height: 10%;
    width: 100%;
    cursor: pointer;
  }

  .popular-items-accordion {
    height: 12%;
    display: flex;
    margin: 2%;
    margin-top: 70px;
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0.33, 0, 0.33);
  }

  button {
    margin-right: 8px;
  }

  div.previous {
    height: -webkit-fill-available;
    width: 7%;
    border-right: 1px solid white;
  }

  div.next {
    width: 7%;
    height: 16%;
    border-left: 1px solid white;
  }

  /* button.previous {
    margin-top: 25%;
    left: 20%;
    font-size: 200%;
    display: none;
  }

  button.next {
    margin-top: 25%;
    left: 20%;
    font-size: 200%;
  } */

  div.category {
    height: -webkit-fill-available;
    width: 11%;
    border-right: 2px solid whitesmoke;
  }

  div.category:hover {
    background-color: #f4511e;
  }

  .category-name {
    text-decoration: none;
    position: relative;
    display: block;
    text-align: center;
    font-size: 15px;
    color: #333;
    margin-bottom: 1em;
  }

  .category-img {
    margin-left: 29%;
    margin-top: 5%;
    height: 60%;
  }

  .category-img:hover {
    cursor: pointer;
  }

  div.subcategory {
    width: 200%;
  }

  li {
    padding-left: 10px;
    height: 3em;
    line-height: 3em;
    vertical-align: middle;
    list-style-type: none;
    background-color: mintcream;
    z-index: 1;
  }

  li:hover {
    background-color: #f4511e;
    cursor: pointer;
  }

  .nextArrow {
    position: absolute;
    margin-top: 1.3em;
    margin-left: 9em;
    border: solid gray;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .nextArrow:hover {
    background-color: #f4511e;
  }

  div.product {
    position: relative;
    top: -100%;
    left: 100.5%;
    width: 100%;
  }

  div.product:hover {
    background-color: #f4511e;
  }
}
