@import '@angular/material/prebuilt-themes/indigo-pink.css';

* {
  /*This is to manage font throguhout the application*/
  font-family: "Roboto";
  border-radius: 5px;
}

mat-select {
  padding: 0px 10px;
}

/******************************MOBILE********************************/
@media screen and (max-width: 1024px) {
  body {
    background-color: whitesmoke;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
