@import '@angular/material/prebuilt-themes/indigo-pink.css';

* {
  /*This is to manage font throguhout the application*/
  font-family: "Roboto";
  border-radius: 5px;
}

mat-select {
  padding: 0px 10px;
}

input {
  outline: none;
  height: 20px;
}

button {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

option {
  outline: none;
  border: none;
  height: 20px;
}

/******************************MOBILE********************************/
@media screen and (max-width: 1024px) {
  body {
    background-color: whitesmoke;
  }
}

/******************************WEB********************************/
@media screen and (min-width: 1024px) {
  .cart-sliding-panel {
    display: none;
  }
  .sliding-panel {
    display: none;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
