<div class="nav-bar-location" [ngStyle]="{'background-color' : locationColor}">
  <img
    *ngIf="isElementForMobile"
    src="../../../assets/location.svg"
    class="location-img"
    (click)="openLocationNav()"
  />

  <mat-form-field *ngIf="isElementForWeb">
    <mat-label *ngIf="!location.value">Your Location</mat-label>
    <mat-select id="location" #location>
      <mat-option *ngFor="let location of locations" [value]="location.id">
        {{ location.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div id="locationSidenav" class="location-sidenav">
  <a
    href="javascript:void(0)"
    class="location-closebtn"
    (click)="closeLocationNav()"
    >&times;</a
  >
  <mat-form-field *ngIf="isElementForMobile" class="form full-width">
    <mat-label *ngIf="!location.value">Your Location</mat-label>
    <mat-select id="location" #location>
      <mat-option *ngFor="let location of locations" [value]="location.id">
        {{ location.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
