<div class="nav-bar-location">
    <img
    src="../../../assets/location.svg"
    class="location-img" 
    (click)="openNav()"
    />
    <select id="location" class="locations">
        <option 
            *ngFor="let location of locations" 
            [value]="location.id"
            [attr.selected]="location.id==1 ? true : null">
                {{location.name}}
        </option>
    </select>
</div>

<div class="sliding-panel">
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()"
        >&times;</a
      >
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Clients</a>
      <a href="#">Contact</a>
    </div>
  </div>
  